body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.footer {
    background: #0c6417;
    color: white;
    display: flex;
    justify-content: space-around;
    padding: 6px 0;
    font-family: Arial;
}

.footer2 h3 {
    margin-bottom: 10px;
}

.footer2 p {
    margin: 5px 0;
}

.icon2 {
    width: 18px;
    margin-right: 6px;
}
