* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: #ffffff;
}

.container {
    display: flex;
    height: 100vh;
}

.left-section {
    flex: 1;
    padding: 60px 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-section {
    flex: 1;
    padding: 20px;
}

.right-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

h1 {
    font-size: 32px;
    color: #000000;
    margin-bottom: 10px;
    font-weight: 600;
}

.subtitle {
    font-size: 14px;
    color: #8897AD;
    margin-bottom: 5px;
}

form {
    margin-top: 40px;
}

label {
    display: block;
    font-size: 14px;
    color: #000000;
    margin-bottom: 8px;
    margin-top: 20px;
}

input {
    width: 100%;
    padding: 12px 16px;
    border: 1px solid #D4D7E3;
    border-radius: 8px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

input::placeholder {
    color: #8897AD;
}

.error {
    font-size: 12px;
    color: #ff0000;
    margin-top: 5px;
}

.forgot {
    display: block;
    text-align: right;
    font-size: 14px;
    color: #000000;
    margin-top: 10px;
    text-decoration: none;
}

.divider {
    text-align: center;
    margin: 30px 0;
    position: relative;
}

.divider::before,
.divider::after {
    content: '';
    position: absolute;
    top: 50%;
    width: 40%;
    height: 1px;
    background: #D4D7E3;
}

.divider::before {
    left: 0;
}

.divider::after {
    right: 0;
}

.divider span {
    background: #ffffff;
    padding: 0 10px;
    font-size: 14px;
    color: #8897AD;
}

.social-buttons {
    display: flex;
    gap: 15px;
    margin-bottom: 20px;
    justify-content: center;
}



.google-btn img,
.facebook-btn img {
    width: 24px;
    height: 24px;
}

.signin-btn {
    width: 70%;
    padding: 14px;
    background: #1B5E20;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    margin-top: 10px;
    align-self:  center;
    justify-content: center;
     margin-left: auto;  
    margin-right: auto; 
    display: block;  
}

.signup-text {
    text-align: center;
    font-size: 14px;
    color: #000000;
    margin-top: 20px;
}

.signup-text a {
    color: #1B5E20;
    font-weight: 600;
}