body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    user-select: none;
}

.container {
    width: 90%;
    margin: auto;
    padding-top: 20px;
}

.heading {
    margin-left: 10px;
    margin-bottom: 25px;
}

.filtermenu {
    position: absolute;
    right: 40px;
    top: 80px;
}

.filtericon {
    width: 22px;
    cursor: pointer;
}

.filtermenu1 {
    position: absolute;
    top: 28px;        
    right: 0;
    background: #fff;
    padding: 8px 12px;
    border-radius: 6px;
    box-shadow: 0px 0px 4px #ccc;
    display: none;
}

.filtermenu1 p {
    margin: 5px 0;
    font-size: 14px;
    cursor: pointer;
}

.filtermenu1 p:hover {
    color: #0d5c17;
}



.products {
    display: flex;
     display: flex;
    flex-wrap: wrap;      
    gap: 20px;
    margin-top: 40px;
    margin-right: 0 ;
    margin-bottom: 20px;
}

.card {
    border: 1px solid #ddd;
    display: inline;
    vertical-align: top;
    padding: 10px;
    width: 17%;  
    border-radius: 8px;
    text-align: left;
    background: white;
}

.pimg {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 6px;
}

.card h3 {
    font-size: 15px;
    margin: 8px 0;
}

.card p {
    margin: 3px 0;
    font-size: 14px;
}

.stock {
    color: green;
}

.outofstock {
    color: red;
}

.btn {
    width: 100%;
    margin-top: 10px;
    padding: 8px 0;
    border: none;
    border-radius: 5px;
    color: white;
    background: #0c6417;
    cursor: pointer;
}
